    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='/resources/favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/resources/favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/resources/favicons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='/resources/favicons/site.webmanifest') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/resources/favicons/favicon.ico') }}">
    <meta name="apple-mobile-web-app-title" content="Kreis Modelling">
    <meta name="application-name" content="Kreis Modelling">
    <meta name="msapplication-TileColor" content="#111111">
    <meta name="msapplication-config" content="{{ url_for('static', filename='/resources/favicons/browserconfig.xml') }}">
    <meta name="theme-color" content="#111111">

