.button{
	text-decoration: none;
	border: 1px solid var(--accent-color);
	color: var(--accent-color);

	width: 100%;
	padding: 15px 0;
	font-size: 1.2em;
	transition: 0.2s;

	display: inline-flex;
    vertical-align: middle;
    justify-content: center;
}

.button:hover{
	background-color: var(--accent-color);
	color: white;
	cursor: pointer;
}